<%- include("partials/header"); -%>

    <h1 class="posth1">
        <%= postTitle %>
    </h1>
    <p class="contentfont post-content">
        <%= postContent %>
    </p>

    <%- include("partials/footer"); -%>